<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Pantry needs local network access to connect to your Grocy and BarcodeBuddy servers on your home network.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-BlueOnWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-BlueOnWhite</string>
				</array>
			</dict>
			<key>AppIcon-OrangeOnBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-OrangeOnBlack</string>
				</array>
			</dict>
			<key>AppIcon-BlackOnOrange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-BlackOnOrange</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
